//font
font-body-large     = 14px
font-weight-medium   = 500

//color
color-text-minor        = #666f83 // 次要信息，如利益点、摘要
color-primary           = #ca141d // 品牌色
color-text-disabled     = #C5CAD5 // 禁用状态
color-bg-base           = #F9FAFB // 元素，容器背景


//gap
h-gap-sl = 10px
v-gap-md = 10px
h-gap-md = 10px


tab-height = var(--tab-height)
tab-font-size = font-body-large
tab-font-weight = font-weight-medium
tab-text-color = color-text-minor
tab-active-color = color-primary
tab-disabled-color = color-text-disabled
tab-bg = color-bg-base
tab-height = 40px
tab-ink-height = 1.5px
tab-offset = h-gap-sl
tab-item-gap = h-gap-md